Repository chen12311/AITaskRunner: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, pytest-check, vitest-check

.pre-commit-config.yaml:

# Pre-commit hooks 配置
# 安装: pip install pre-commit && pre-commit install
# 手动运行: pre-commit run --all-files

repos:
  # 通用 hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python 代码格式化
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(backend|core)/
      - id: ruff-format
        files: ^(backend|core)/

  # Python 类型检查
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^(backend|core)/
        args: [--ignore-missing-imports]
        additional_dependencies: []

  # 前端代码检查
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,css}"'
        language: system
        files: ^frontend/src/.*\.(ts|tsx|css)$
        pass_filenames: false

  # 运行相关测试
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest (changed files)
        entry: bash -c 'pytest --co -q 2>/dev/null && pytest -x -q --tb=short'
        language: system
        files: ^(backend|core)/.*\.py$
        pass_filenames: false
        stages: [push]

      - id: vitest-check
        name: vitest (changed files)
        entry: bash -c 'cd frontend && npm run test:run -- --passWithNoTests'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [push]

# CI 配置
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [pytest-check, vitest-check]
  submodules: false

chore: 更新 .gitignore 添加临时文件忽略规则
  .gitignore
Due: none

feat: 新增任务批量操作功能
  backend/app.py
  backend/models/schemas.py
  backend/services/task_service_db.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/tasks.ts
  frontend/src/components/ui/checkbox.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/zh.json
  frontend/src/pages/Tasks.tsx
  frontend/src/stores/taskStore.ts
  frontend/src/types/task.ts
Due: eslint, prettier, pytest-check, vitest-check

fix(cli): 更新 Codex 和 Gemini 自动模式参数
  core/cli_adapters/codex.py
  core/cli_adapters/gemini.py
Due: pytest-check

fix(frontend): 修复 Settings 布尔值解析问题
  frontend/src/pages/Settings.tsx
Due: eslint, prettier, vitest-check

chore: 更新 .gitignore 忽略 test_projects 目录
  .gitignore
Due: none

feat(watchdog): 增强看门狗检测机制，支持安全转换期和 Kitty 原生活跃检测
  backend/app.py
  backend/services/template_service.py
  core/session/watchdog.py
  core/terminal_adapters/base.py
  core/terminal_adapters/kitty.py
Due: pytest-check

docs: 完善项目文档，新增英文快速开始指南
  QUICK_START.md
  QUICK_START_CN.md
  README.md
  README_CN.md
Due: none

fix(core): 修复 Python 3.9 类型注解兼容性问题
  core/terminal_adapters/base.py
Due: pytest-check

fix(web): 修复 Windows 控制台 GBK 编码无法打印 emoji 的问题
  start_web.py
Due: none

fix(web): 修复 Windows 上无法找到 npm 命令的问题
  start_web.py
Due: none

fix(web): npm install 失败时显示具体错误信息
  start_web.py
Due: none

fix(web): 同时检查 stdout 和 stderr 获取 npm 错误信息
  start_web.py
Due: none

fix(deps): 升级 pydantic 版本以支持 Python 3.13
  backend/requirements.txt
Due: none

fix(deps): 添加缺失的 httpx 依赖
  backend/requirements.txt
Due: none

fix(backend): 修复 Windows 控制台 GBK 编码问题
  backend/app.py
Due: pytest-check

chore: 将前端默认端口从 3000 改为 3500
  QUICK_START.md
  QUICK_START_CN.md
  README.md
  README_CN.md
  frontend/vite.config.ts
  start_web.py
Due: none

fix(windows): 修复 Windows Terminal 打开多个标签页的问题
  core/terminal_adapters/windows_terminal.py
Due: pytest-check
